/* style.css */

/* 1. Základní nastavení celé stránky */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #222;
    color: white;
    height: 100vh; /* Celá výška okna */

    /* TOTO JE NOVÉ: Rozložení pod sebe (Sloupec) */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* 2. Hlavička (To nahoře) */
header {
    flex: 0 0 auto; /* Pevná velikost (nenatahuje se) */
    padding: 20px;
    background-color: #1a1a1a; /* O něco tmavší než zbytek */
    text-align: center;
    border-bottom: 2px solid #333;
    z-index: 10;
}

header h1 {
    margin: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#count {
    font-size: 2.5rem;
    font-weight: bold;
    color: #cdcdcd; /* Zlatá barva pro skóre */
    margin-top: 10px;
}

/* 3. Herní plocha (To dole) */
#game-board {
    flex: 1; /* Zabere veškeré zbylé místo na výšku! */
    display: flex; /* Uvnitř chceme věci vedle sebe (Řádek) */
    position: relative; /* Aby VS vědělo, kde je střed této plochy */
    width: 100%;
}

/* 4. Karty */
.card {
    flex: 1; /* Každá 50% šířky */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
    align-items: center;
    text-align: center;
    background-color: #2c2c2c;
    border-right: 1px solid #444;
}

.card:last-child {
    border-right: none;
    background-color: #333;
}

/* Obrázky */
.card img {
    width: 150px;
    height: 150px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
    object-fit: contain; /* Aby se obrázek nedeformoval */
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.card h1 { font-size: 2rem; margin: 0; }
.card h3 { font-size: 1.5rem; color: #ddd; }

/* 5. VS Kolečko - Uprostřed herní plochy */
.vs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Přesný střed */

    background-color: white;
    color: #222;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    border: 5px solid #222;
    z-index: 20;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* Tlačítka */
button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.1rem;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.2s;
}

button:hover {
    background: white;
    color: #222;
    transform: scale(1.05);
}